apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kustomize-pod-demo
commonLabels:
  app.kubernetes.io/part-of: kustomize-pod-demo
resources:
- pod.yaml

patches:
- target:
    version: v1
    kind: Pod
    name: nginx-simple-env-new-app
  patch: |-
    - op: add
      path: "/spec/containers/0/env/-"
      value:
        name: MY_NEW_ENV1
        value: "1"
- target:
    version: v1
    kind: Pod
    name: nginx-simple-env-new-app
  patch: |-
    - op: replace
      path: /metadata/name
      value: nginx-kustomize-new-env
- target:
    version: v1
    kind: Pod
    name: nginx-simple-env-add-app
  patch: |-
    - op: add
      path: "/spec/containers/0/env/-"
      value:
        name: MY_ADD_ENV2
        value: "2"
- target:
    version: v1
    kind: Pod
    name: nginx-simple-env-add-app
  patch: |-
    - op: replace
      path: /metadata/name
      value: nginx-kustomize-add-env
