apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: demo
resources:
- deployment.yaml
- service.yaml
configMapGenerator:
- name: nginx-html
  files:
  - html/favicon.ico
  - html/index.html
  - html/css/simple_counter_app.css